<template>
  <div class="app-container">
    <el-form class="search-bar" :model="query" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
      <el-form-item label="设备名称" prop="dname">
        <el-input
          v-model="query.dname"
          placeholder="请输入设备名称"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="20" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="danger"
          plain
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
          v-hasPermi="['device:logs:remove']"
        >删除</el-button>
      </el-col>
    </el-row>

    <el-table v-loading="loading" :data="postList" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column label="日志编号" prop="id" min-width="10%"/>
      <el-table-column label="设备编号" prop="did" min-width="10%"/>
      <el-table-column label="设备名称" prop="dname" min-width="20%"/>
      <el-table-column label="IP" prop="dip" min-width="10%"/>
      <el-table-column label="端口" prop="dport" min-width="10%"/>
      <el-table-column label="返回数据" prop="data" min-width="40%"/>
      <el-table-column label="执行时间" prop="time" min-width="15%"/>
      <el-table-column label="操作" align="center" width="150px">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['device:logs:edit']"
          >详情</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['device:logs:remove']"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.size" @pagination="getList"/>
    <el-dialog :title="title" :visible.sync="open" width="820px">
      <el-form ref="form" :model="form" label-width="80px">
        <el-row :gutter="40">
          <el-col :span="12">
            <el-form-item label="日志编号" prop="brand">
              <el-input v-model="form.id" disabled/>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="设备编号">
              <el-input v-model="form.did" disabled/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="40">
          <el-col :span="12">
            <el-form-item label="设备名称">
              <el-input v-model="form.dname" disabled/>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="设备类型">
              <el-select v-model="form.dtype" disabled style="width: 100%">
                <el-option v-for="dict in typeList" :key="dict.value" :label="dict.label" :value="dict.value"/>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="40">
          <el-col :span="12">
            <el-form-item label="IP地址">
              <el-input v-model="form.dip" disabled/>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="端口">
              <el-input v-model="form.dport" disabled/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-form-item label="返回数据">
            <el-input v-model="form.data" type="textarea" :rows="5" disabled/>
          </el-form-item>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="执行时间">
              <el-input v-model="form.time" disabled/>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">关 闭</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { list, get, del} from "@/api/device/kitlog";
import {TYPE_LIST} from "@/utils/consts";

export default {
  name: "Logs2",
  dicts: ['normal_disable'],
  data() {
    return {
      loading: true,
      ids: [],
      single: true,
      multiple: true,
      showSearch: true,
      total: 0,
      postList: [],
      title: "",
      open: false,
      typeList: TYPE_LIST,
      query: {
        dtype: 2,
        dname: undefined,
        page: 1,
        size: 10
      },
      form: {}
    };
  },
  created() {
    this.getList();
  },
  methods: {
    getList() {
      this.loading = true;
      list(this.query).then(res => {
        this.postList = res.data.list;
        this.total = res.data.total;
        this.loading = false;
      });
    },
    cancel() {
      this.open = false;
      this.reset();
    },
    reset() {
      this.form = {
        id: undefined,
        did: undefined,
        dname: undefined,
        dtype: undefined,
        dip: undefined,
        dport: undefined,
        data: undefined,
        time: undefined
      };
      this.resetForm("form");
    },
    handleQuery() {
      this.query.page = 1;
      this.getList();
    },
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids
      get(id).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "日志详情";
      });
    },
    submitForm: function() {
      this.open = false;
    },
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('确定删除编号为 ' + ids + ' 的日志吗？').then(function() {
        return del(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    }
  }
};
</script>

<style lang="scss" scoped>
.search-bar {
  ::v-deep .el-form-item--small.el-form-item {
    margin-right: 50px;
  }
}

.el-input.is-disabled ::v-deep .el-input__inner {
  //color: #5b5b5b;
}

.el-textarea.is-disabled ::v-deep .el-textarea__inner {
  //color: #5b5b5b;
}

</style>

