<template>
  <div class="app-container">
    <el-form
      class="search-bar"
      :model="query"
      ref="queryForm"
      size="small"
      :inline="true"
      v-show="showSearch"
      label-width="68px"
    >
      <el-form-item label="设备名称" prop="name">
        <el-input
          v-model="query.name"
          placeholder="请输入设备名称"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="设备状态" prop="status">
        <el-select v-model="query.status" placeholder="设备状态" clearable>
          <el-option
            v-for="dict in dict.type.normal_disable"
            :key="dict.value"
            :label="dict.label"
            :value="dict.value"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="20" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['device:list:add']"
          >新增</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          plain
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
          v-hasPermi="['device:list:remove']"
          >删除</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="warning"
          plain
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
          v-hasPermi="['device:list:export']"
          :disabled="multiple"
          >导出</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="warning"
          plain
          icon="el-icon-edit-outline"
          size="mini"
          :disabled="multiple"
          @click="handlePost(ids)"
          >发报</el-button
        >
      </el-col>
    </el-row>

    <el-table
      v-loading="loading"
      :data="dataList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column label="设备编号" prop="id" min-width="5%" />
      <el-table-column label="设备名称" prop="name" min-width="10%" />
      <el-table-column label="位置/桩号" prop="station" min-width="7%" />
      <el-table-column label="当前内容" min-width="25%">
        <template v-slot="{ row }">
          <div style="display: flex; align-items: center">
            <span v-if="row.data">{{ row.data }}</span>
            <span v-else style="color: #bbbbbb">(没有内容或获取内容失败)</span>
            <el-tooltip content="刷新最新内容" :open-delay="1000">
              <i
                class="el-icon-refresh"
                style="margin-left: 6px; cursor: pointer"
                @click="handleContent(row)"
              ></i>
            </el-tooltip>
          </div>
        </template>
      </el-table-column>
      <!--      <el-table-column label="设备品牌" min-width="8%">-->
      <!--        <template v-slot="{row}">-->
      <!--          <span>{{row.brand|filter2}}</span>-->
      <!--        </template>-->
      <!--      </el-table-column>-->
      <el-table-column label="最新状态" min-width="5%">
        <template v-slot="{ row }">
          <div style="display: flex; align-items: center">
            <el-tooltip
              :content="
                '最新状态为: ' +
                getStatusText(row.status) +
                ',最近更新时间：' +
                row.updateTime
              "
            >
              <template>
                <!-- <dict-tag :options="dict.type.normal_disable" :value="row.status"/> -->
                <div
                  class="status-icon"
                  :style="{
                    backgroundColor: getStatusColor(row.status),
                  }"
                ></div>
              </template>
              <!-- <template slot-scope="scope" >
                <span slot="reference" v-if="scope.row.status == 1">
                  <i class="dotClass" style="background-color: springgreen"></i>
                </span>
                <span slot="reference" v-if="scope.row.status == 0" >
                  <i class="dotClass" style="background-color: red"></i>
                </span>
              </template> -->
            </el-tooltip>
            <el-tooltip content="刷新最新状态" :open-delay="1000">
              <i
                class="el-icon-refresh"
                style="margin-left: 6px; cursor: pointer"
                @click="handleStatus(row)"
              ></i>
            </el-tooltip>
          </div>
        </template>
      </el-table-column>
      <el-table-column label="定期采集" min-width="5%">
        <template v-slot="{ row }">
          <span>{{ row.collect | filter3 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="最近更新" prop="updateTime" min-width="8%" />
      <el-table-column label="操作" align="center" width="200px">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-document"
            @click="handlePost(scope.row)"
            v-hasPermi="['device:list:edit']"
            >发报</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['device:list:edit']"
            >修改</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['device:list:remove']"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.size"
      @pagination="getList"
    />

    <el-dialog
      title="发布情报"
      class="post"
      :visible.sync="post"
      width="400"
      @close="handleClickCloseModal"
      @open="handleClickOpenModal"
      custom-class="form1-modal"
    >
      <div v-if="batch && form2.context">
        <div class="batch-select-box">
          <span>设备编号</span>
          <el-select v-model="selectValue" placeholder="请选择">
            <el-option
              v-for="item in ids"
              :key="item"
              :label="dataList.filter((items) => items.id === item)[0].name"
              :value="item"
            >
            </el-option>
          </el-select>
        </div>
        <el-form
          ref="form2"
          :model="form2"
          :rules="rules"
          label-width="80px"
          v-loading="loadingPost"
        >
          <el-row>
            <el-form-item
              v-for="(context, index) in form2.context"
              :label="'情报内容' + (index + 1)"
              :key="context.key"
              :prop="'context.' + index + '.value'"
              :rules="{
                required: true,
                message: '情报内容不能为空',
                trigger: 'blur',
              }"
            >
              <div class="flex-r">
                <i class="el-icon-plus el-icon" @click="handleAddIcon(2)"></i>
                <el-input
                  v-model="context.value"
                  :rows="5"
                  placeholder="输入情报内容"
                />
                <i
                  class="el-icon-minus el-icon"
                  @click="handleMinusIcon(context, 2)"
                ></i>
              </div>
            </el-form-item>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="字体大小" class="mr-20">
                <el-select v-model="form2.size" placeholder="选择字体大小">
                  <el-option
                    v-for="item in sizeList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="文字颜色">
                <el-color-picker
                  v-model="form2.color"
                  :predefine="colorList"
                  placeholder="选择文字颜色"
                />
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
      <el-form
        ref="form1"
        :model="form1"
        :rules="rules"
        label-width="80px"
        v-loading="loadingPost"
        v-else
      >
        <el-row>
          <el-form-item
            v-for="(context, index) in form1.context"
            :label="'情报内容' + (index + 1)"
            :key="context.key"
            :prop="'context.' + index + '.value'"
            :rules="{
              required: true,
              message: '情报内容不能为空',
              trigger: 'blur',
            }"
          >
            <div class="flex-r">
              <i class="el-icon-plus el-icon" @click="handleAddIcon(1)"></i>
              <el-input
                v-model="context.value"
                :rows="5"
                placeholder="输入情报内容"
              />
              <i
                class="el-icon-minus el-icon"
                @click="handleMinusIcon(context, 1)"
              ></i>
            </div>
          </el-form-item>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="字体大小">
              <el-select v-model="form1.size" placeholder="选择字体大小">
                <el-option
                  v-for="item in sizeList"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="文字颜色">
              <el-color-picker
                v-model="form1.color"
                :predefine="colorList"
                placeholder="选择文字颜色"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm1(batch)">确 定</el-button>
        <el-button @click="cancel1">取 消</el-button>
      </div>
    </el-dialog>

    <el-dialog :title="title" :visible.sync="open" width="820px">
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-row :gutter="40">
          <el-col :span="12">
            <el-form-item label="设备名称" prop="name">
              <el-input v-model="form.name" placeholder="请输入设备名称" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="设备类型" prop="type">
              <el-select
                v-model="form.type"
                placeholder="请选择设备类型"
                clearable
                style="width: 100%"
                disabled
              >
                <el-option
                  v-for="dict in typeList"
                  :key="dict.value"
                  :label="dict.label"
                  :value="dict.value"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="40">
          <el-col :span="12">
            <el-form-item label="设备品牌" prop="brand">
              <el-select
                v-model="form.brand"
                placeholder="请选择设备品牌"
                clearable
                style="width: 100%"
              >
                <el-option
                  v-for="dict in brandList"
                  :key="dict.value"
                  :label="dict.label"
                  :value="dict.value"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="设备型号">
              <el-input v-model="form.model" placeholder="请输入设备型号" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="40">
          <el-col :span="12">
            <el-form-item label="IP地址" prop="ip">
              <el-input v-model="form.ip" placeholder="请输入IP地址" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="端口" prop="port">
              <el-input v-model="form.port" placeholder="请输入端口" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="40">
          <el-col :span="12">
            <el-form-item label="位置桩号">
              <el-input v-model="form.station" placeholder="请输入位置桩号" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="经纬度">
              <el-input v-model="form.lonlat" placeholder="请输入经纬度" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="40">
          <el-col :span="12">
            <el-form-item label="定期采集">
              <el-radio-group v-model="form.collect">
                <el-radio :label="1">是</el-radio>
                <el-radio :label="0">否</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <!--            <el-form-item label="采集周期" prop="period">-->
            <!--              <el-input-number v-model="form.period" controls-position="right" @change="handleMinisChange" :min="5" :max="7320" label="分钟" :disabled="form.collect === 0">-->
            <!--              </el-input-number> 分钟-->
            <!--            </el-form-item>-->
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="维护人员">
              <el-input v-model="form.holder" placeholder="请输入维护人员" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
let TIME_Constant = 10 * 1000;
let TIME_OBJ = null;
import {
  list,
  get,
  del,
  add,
  update,
  post,
  status,
  content,
  postList,
  getDatas,
} from "@/api/device/device";
import { TYPE_LIST, BRAND_LIST } from "@/utils/consts";

export default {
  name: "List1",
  dicts: ["normal_disable"],
  data() {
    return {
      loading: true,
      loadingPost: false,
      ids: [],
      single: true,
      multiple: true,
      showSearch: true,
      total: 0,
      dataList: [],
      title: "",
      post: false,
      open: false,
      typeList: TYPE_LIST,
      brandList: BRAND_LIST,
      query: {
        type: 1,
        name: undefined,
        status: undefined,
        page: 1,
        size: 10,
      },
      form: {},
      form1: {
        color: "#ff0000",
        context: [
          {
            value: "",
            key: Math.random(),
          },
        ],
      },
      form2: {
        color: "#ff0000",
        context: [
          {
            value: "",
            key: Math.random(),
          },
        ],
      },
      sizeList: [
        {
          label: "10",
          value: 10,
        },
        {
          label: "11",
          value: 11,
        },
        {
          label: "12",
          value: 12,
        },
        {
          label: "13",
          value: 13,
        },
        {
          label: "14",
          value: 14,
        },
        {
          label: "15",
          value: 15,
        },
        {
          label: "16",
          value: 16,
        },
        {
          label: "17",
          value: 17,
        },
        {
          label: "18",
          value: 18,
        },
        {
          label: "19",
          value: 19,
        },
        {
          label: "20",
          value: 20,
        },
        {
          label: "21",
          value: 21,
        },
        {
          label: "22",
          value: 22,
        },
        {
          label: "23",
          value: 23,
        },
        {
          label: "24",
          value: 24,
        },
        {
          label: "25",
          value: 25,
        },
        {
          label: "26",
          value: 26,
        },
        {
          label: "27",
          value: 27,
        },
        {
          label: "28",
          value: 28,
        },
        {
          label: "29",
          value: 29,
        },
        {
          label: "30",
          value: 30,
        },
        {
          label: "31",
          value: 31,
        },
        {
          label: "32",
          value: 32,
        },
      ],
      colorList: ["#ff0000", "#00ff00", "#0000ff", "#ffffff"],
      statusLoading: false,
      rules: {
        name: [
          { required: true, message: "设备名称不能为空", trigger: "change" },
        ],
        type: [
          { required: true, message: "设备类型不能为空", trigger: "change" },
        ],
        brand: [
          { required: true, message: "设备品牌不能为空", trigger: "change" },
        ],
        ip: [{ required: true, message: "IP地址不能为空", trigger: "change" }],
        port: [{ required: true, message: "端口不能为空", trigger: "change" }],
        context: [
          { required: true, message: "情报内容不能为空", trigger: "blur" },
        ],
      },
      batch: false,
      selectValue: "",
      id: null,
      sumForm2: {},
    };
  },
  created() {
    this.getList();
  },
  mounted() {
    TIME_OBJ = setInterval(() => {
      getDatas({
        ids: this.dataList.map((item) => `${item.id}`).join(","),
      }).then((res) => {
        if (res.code === 200) {
          const { data } = res;
          let dataList = this.dataList.map((item, index) => {
            return Object.assign(item, { data: data[index].text });
          });
          this.dataList = dataList;
        }
      });
    }, TIME_Constant);
  },
  methods: {
    getList() {
      this.loading = true;
      list(this.query).then((res) => {
        this.dataList = res.data.list;
        this.total = res.data.total;
        this.loading = false;
      });
    },
    cancel() {
      this.open = false;
      this.reset();
    },
    cancel1() {
      this.post = false;
    },
    reset() {
      this.form = {
        id: undefined,
        name: undefined,
        type: 1,
        brand: undefined,
        model: undefined,
        ip: undefined,
        port: undefined,
        station: undefined,
        lonlat: undefined,
        collect: 0,
        period: 10,
        status: 1,
      };
      this.resetForm("form");
    },
    reset1() {
      this.form1 = {
        color: "#ff0000",
        context: [
          {
            value: "",
          },
        ],
      };
      this.resetForm("form1");
      this.selectValue = "";
    },
    reset2() {
      this.form2 = {
        color: "#ff0000",
        context: [
          {
            value: "",
          },
        ],
      };
      this.resetForm("form2");
      this.selectValue = "";
    },
    handleQuery() {
      this.query.page = 1;
      this.getList();
    },
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.id);
      this.single = selection.length !== 1;
      this.multiple = !selection.length;
    },
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "新增设备";
    },
    handleMinusIcon(item, type = 1) {
      if (type === 1) {
        let index = this.form1.context.indexOf(item);
        if (index !== -1) {
          this.form1.context.splice(index, 1);
        }
      } else {
        let index = this.form2.context.indexOf(item);
        if (index !== -1) {
          this.form2.context.splice(index, 1);
        }
      }
    },
    handleAddIcon(type = 1) {
      if (type === 1) {
        if (this.form1.context.length === 15) {
          this.$message.error("情报内容最多添加15条!");
          return false;
        }
        this.form1.context.push({
          value: "",
          key: Math.random(),
        });
      } else {
        if (this.form2.context.length === 15) {
          this.$message.error("情报内容最多添加15条!");
          return false;
        }
        this.form2.context.push({
          value: "",
          key: Math.random(),
        });
      }
    },
    handleStatus(row) {
      this.$modal.msg("正在刷新设备状态，请稍等...");
      status(row.id).then((res) => {
        if (res) {
          let status = 0;
          if (res.desc) {
            this.$modal.msgError("状态刷新失败：" + res.desc);
          } else if (res.data) {
            this.$modal.msgSuccess("状态刷新成功");
            status = res.data.status;
          }
          for (const item of this.dataList) {
            if (item.id === res.data.id) {
              item.status = status;
            }
          }
        }
      });
    },
    handleContent(row) {
      this.$modal.msg("正在刷新设备内容，请稍等...");
      content(row.id).then((res) => {
        if (res) {
          let text = 0;
          if (res.desc) {
            this.$modal.msgError("内容刷新失败：" + res.desc);
          } else if (res.data) {
            this.$modal.msgSuccess("内容刷新成功");
            text = res.data.text;
          }
          for (const item of this.dataList) {
            if (item.id === res.data.id) {
              item.data = text;
            }
          }
        }
      });
    },
    handlePost(row) {
      if (Array.isArray(row) && row.length > 1) {
        this.batch = true;
        this.selectValue = row[0];
        const obj = {};
        row.map((item) => {
          postList({ did: item }).then((res) => {
            const { list, total } = res.data;
            if (total) {
              obj[item] = {
                color: "#ff0000",
                context: list[0].item.split("|").map((item) => {
                  return {
                    value: item,
                    key: Math.random(),
                  };
                }),
              };
            } else {
              obj[item] = {
                color: "#ff0000",
                context: [
                  {
                    value: "",
                    key: Math.random(),
                  },
                ],
              };
            }
          });
        });
        setTimeout(() => {
          this.sumForm2 = obj;
          if (obj[row[0]]) {
            this.form2 = obj[row[0]];
          }
        }, 500);
      } else {
        this.batch = false;
        postList({ did: row.id }).then((res) => {
          const { list, total } = res.data;
          if (total) {
            this.form1 = {
              color: "#ff0000",
              context: list[0].item.split("|").map((item) => {
                return {
                  value: item,
                  key: Math.random(),
                };
              }),
            };
          }
        });
      }
      this.id = Array.isArray(row) ? row : row.id;
      this.loadingPost = false;
      this.post = true;
    },
    handleClickCloseModal() {
      this.post = false;
      if (this.batch) {
        this.reset2();
      } else {
        this.reset1();
      }
    },
    handleClickOpenModal() {
      this.post = true;
    },
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids;
      get(id).then((response) => {
        this.form = response.data;
        this.open = true;
        this.title = "修改设备";
      });
    },
    submitForm: function () {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          if (this.id !== undefined) {
            update(this.form).then((response) => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            add(this.form).then((response) => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    submitForm1: function (batch) {
      if (batch) {
        this.$refs["form2"].validate((valid) => {
          if (valid) {
            const sumForm2 = this.sumForm2;
            const keys = Object.keys(sumForm2);
            if (
              keys.length !==
              keys.filter(
                (item) =>
                  sumForm2[item] &&
                  sumForm2[item].context.length ===
                    sumForm2[item].context.filter((items) => items.value).length
              ).length
            ) {
              this.$message.error("情报内容不能为空!");
              return false;
            }
            //todo test..
            //this.$modal.msgSuccess("发布成功");
            if (this.id !== undefined) {
              this.loadingPost = true;
              let req = [];
              keys.map((item) => {
                const data = sumForm2[item];
                req.push({
                  did: item,
                  text: data.context.map((item) => item.value),
                  size: data.size || 12,
                  color: data.color,
                });
              });
              post(req).then((response) => {
                console.log("response=" + response);
                if (response.code === 200) {
                  this.loadingPost = false;
                  this.$modal.msgSuccess("发布成功");
                  this.post = false;
                } else {
                  this.loadingPost = false;
                  //this.$modal.msgError(response.desc);
                  this.$modal.msgError("发布失败");
                }
              });
            }
          }
        });
      } else {
        this.$refs["form1"].validate((valid) => {
          if (valid) {
            //todo test..
            //this.$modal.msgSuccess("发布成功");

            if (this.id !== undefined) {
              this.loadingPost = true;
              let req = [];
              if (!this.batch) {
                req.push({
                  did: this.id,
                  text: this.form1.context.map((item) => item.value),
                  size: this.form1.size || 12,
                  color: this.form1.color,
                });
              }
              post(req).then((response) => {
                console.log("response=" + response);
                if (response.code === 200) {
                  this.loadingPost = false;
                  this.$modal.msgSuccess("发布成功");
                  this.post = false;
                } else {
                  this.loadingPost = false;
                  //this.$modal.msgError(response.desc);
                  this.$modal.msgError("发布失败");
                }
              });
            }
          }
        });
      }
    },
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal
        .confirm("是否确认删除设备编号为 " + ids + " 的设备吗？")
        .then(function () {
          return del(ids);
        })
        .then(() => {
          this.getList();
          this.$modal.msgSuccess("删除成功");
        })
        .catch(() => {});
    },
    handleExport() {
      this.download(
        "device/export",
        {
          ids: this.ids.join(","),
        },
        `post_${new Date().getTime()}.xlsx`
      );
    },
    handleMinisChange(value) {},
    getStatusColor(status) {
      const color = {
        "-1": "#e6a23c",
        0: "red",
        1: "#67c23a",
      };
      return color[status];
    },
    getStatusText(status) {
      const text = {
        "-1": "未知",
        0: "异常",
        1: "正常",
      };
      return text[status];
    },
  },
  watch: {
    selectValue(value, selectValue) {
      const form2 = this.form2;
      let sumForm2 = this.sumForm2;
      if (sumForm2[selectValue]) {
        const obj = {
          color: form2.color,
          context: form2.context,
        };
        this.sumForm2 = Object.assign(sumForm2, { [selectValue]: obj });
        sumForm2 = Object.assign(sumForm2, { [selectValue]: obj });
      }
      this.form2 = sumForm2[value];
      /* if (sumForm2[value]) {
        this.form2 = sumForm2[value];
      } else {
        const newObj = {
          color: "#ff0000",
          context: [
            {
              value: "",
              key: Math.random(),
            },
          ],
        };
        this.form2 = newObj;
        const obj = Object.assign(sumForm2, { [value]: newObj });
        this.sumForm2 = obj;
      } */
    },
  },
  filters: {
    filter1: function (value) {
      if (!value) {
        return "(没有内容或获取内容失败)";
      }
      return value;
    },
    filter2: function (value) {
      if (!value) return "";
      const list = BRAND_LIST.filter((a) => {
        return a.value === value;
      });
      if (list && list.length > 0) {
        return list[0].label;
      }
    },
    filter3: function (val) {
      if (val === 1) return "是";
      return "否";
    },
  },
  destroyed() {
    clearInterval(TIME_OBJ);
  },
};
</script>

<style lang="scss" scoped>
::v-deep .form1-modal {
  .el-form-item__label {
    width: 100px !important;
  }
}
.batch-select-box {
  margin-bottom: 10px;
  span {
    margin: 0 50px 0 15px;
  }
}
.flex-r {
  display: flex;
  align-items: center;
  .el-input {
    margin: 0 10px;
  }
  .el-icon {
    cursor: pointer;
  }
}
.status-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.search-bar {
  ::v-deep .el-form-item--small.el-form-item {
    margin-right: 50px;
  }
}

.dotClass {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin-left: 10px; //这个用于圆点居中
}
::v-deep .mr-20 {
  label {
    margin-right: 20px;
  }
}
</style>

