<template>
  <div class="app-container home">
    <span>欢迎使用湖北高速公路设备管理系统</span>
  </div>
</template>

<script>
export default {
  name: "Index",
  data() {
    return {
      version: "1.0.2",
    };
  }
};
</script>
