<template>
  <div class="app-container">
    <el-form class="search-bar" :model="query" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
      <el-form-item label="设备名称" prop="name">
        <el-input
          v-model="query.name"
          placeholder="请输入设备名称"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="设备类型" prop="type">
        <el-select v-model="query.type" placeholder="设备类型" clearable>
          <el-option
            v-for="dict in typeList"
            :key="dict.value"
            :label="dict.label"
            :value="dict.value"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="设备状态" prop="status">
        <el-select v-model="query.status" placeholder="设备状态" clearable>
          <el-option
            v-for="dict in dict.type.normal_disable"
            :key="dict.value"
            :label="dict.label"
            :value="dict.value"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="20" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['device:list:add']"
        >新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          plain
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
          v-hasPermi="['device:list:remove']"
        >删除</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="warning"
          plain
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
          v-hasPermi="['device:list:export']"
        >导出</el-button>
      </el-col>
    </el-row>

    <el-table v-loading="loading" :data="postList" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column label="设备编号" prop="id" min-width="15%"/>
      <el-table-column label="设备名称" prop="name" min-width="30%"/>
      <el-table-column label="设备类型" min-width="20%">
        <template v-slot="{row}">
          <span>{{row.type|filter1}}</span>
        </template>
      </el-table-column>
      <el-table-column label="设备品牌" min-width="20%">
        <template v-slot="{row}">
          <span>{{row.brand|filter2}}</span>
        </template>
      </el-table-column>
      <el-table-column label="设备IP" prop="ip" min-width="25%"/>
      <el-table-column label="设备端口" prop="port" min-width="15%"/>
      <el-table-column label="位置桩号" prop="station" min-width="23%"/>
      <el-table-column label="设备状态" min-width="15%">
        <template v-slot="{row}">
          <dict-tag :options="dict.type.normal_disable" :value="row.status"/>
        </template>
      </el-table-column>
      <el-table-column label="创建时间" prop="createTime" min-width="20%"/>
      <el-table-column label="操作" align="center" width="150px">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['device:list:edit']"
          >修改</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['device:list:remove']"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.size" @pagination="getList"/>

    <el-dialog :title="title" :visible.sync="open" width="820px">
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-row :gutter="40">
          <el-col :span="12">
            <el-form-item label="设备名称" prop="name">
              <el-input v-model="form.name" placeholder="请输入设备名称" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="设备类型" prop="type">
              <el-select v-model="form.type" placeholder="请选择设备类型" clearable style="width: 100%" disabled>
                <el-option v-for="dict in typeList" :key="dict.value" :label="dict.label" :value="dict.value"/>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="40">
          <el-col :span="12">
            <el-form-item label="设备品牌" prop="brand">
              <el-select v-model="form.brand" placeholder="请选择设备品牌" clearable style="width: 100%">
                <el-option v-for="dict in brandList" :key="dict.value" :label="dict.label" :value="dict.value"/>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="设备型号">
              <el-input v-model="form.model" placeholder="请输入设备型号"/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="40">
          <el-col :span="12">
            <el-form-item label="IP地址" prop="ip">
              <el-input v-model="form.ip" placeholder="请输入IP地址"/>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="端口" prop="port">
              <el-input v-model="form.port" placeholder="请输入端口" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="40">
          <el-col :span="12">
            <el-form-item label="位置桩号">
              <el-input v-model="form.station" placeholder="请输入位置桩号"/>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="经纬度">
              <el-input v-model="form.lonlat" placeholder="请输入经纬度" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="维护人员">
              <el-input v-model="form.holder" placeholder="请输入维护人员" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="采集周期" prop="minis" v-show="form.status === 1">
              <el-input-number v-model="form.minis" controls-position="right" @change="handleMinisChange" :min="5" :max="7320" label="分钟">
              </el-input-number> 分钟
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { list, get, del, add, update } from "@/api/device/device";
import {TYPE_LIST, BRAND_LIST} from "@/utils/consts";

export default {
  name: "List2",
  dicts: ['normal_disable'],
  data() {
    return {
      loading: true,
      ids: [],
      single: true,
      multiple: true,
      showSearch: true,
      total: 0,
      postList: [],
      title: "",
      open: false,
      typeList: TYPE_LIST,
      brandList: BRAND_LIST,
      query: {
        type: 2,
        name: undefined,
        status: undefined,
        page: 1,
        size: 10
      },
      form: {},
      rules: {
        name: [
          { required: true, message: "设备名称不能为空", trigger: "change" }
        ],
        type: [
          { required: true, message: "设备类型不能为空", trigger: "change" }
        ],
        brand: [
          { required: true, message: "设备品牌不能为空", trigger: "change" }
        ],
        ip: [
          { required: true, message: "IP地址不能为空", trigger: "change" }
        ],
        port: [
          { required: true, message: "端口不能为空", trigger: "change" }
        ]
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    getList() {
      this.loading = true;
      list(this.query).then(res => {
        this.postList = res.data.list;
        this.total = res.data.total;
        this.loading = false;
      });
    },
    cancel() {
      this.open = false;
      this.reset();
    },
    reset() {
      this.form = {
        id: undefined,
        name: undefined,
        type: 2,
        brand: undefined,
        model: undefined,
        ip: undefined,
        port: undefined,
        station: undefined,
        lonlat: undefined,
        status: 1,
        minis: 10
      };
      this.resetForm("form");
    },
    handleQuery() {
      this.query.page = 1;
      this.getList();
    },
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "新增设备";
    },
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids
      get(id).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "修改设备";
      });
    },
    submitForm: function() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.id !== undefined) {
            update(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            add(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('是否确认删除设备编号为 ' + ids + ' 的设备吗？').then(function() {
        return del(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
    handleExport() {
      this.download('device/export', {
        ...this.query
      }, `post_${new Date().getTime()}.xlsx`)
    },
    handleMinisChange(value) {

    }
  },
  filters: {
    filter1: function(value) {
      if (!value) return '';
      const list = TYPE_LIST.filter(a => {return a.value === value});
      if (list && list.length > 0) {
        return list[0].label;
      }
    },
    filter2: function(value) {
      if (!value) return '';
      const list = BRAND_LIST.filter(a => {return a.value === value});
      if (list && list.length > 0) {
        return list[0].label;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.search-bar {
  ::v-deep .el-form-item--small.el-form-item {
    margin-right: 50px;
  }
}

</style>

