<template>
  <div class="app-container">
    <el-form class="search-bar" :model="query" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
      <el-form-item label="型号名称" prop="name">
        <el-input
          v-model="query.name"
          placeholder="请输入型号名称"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="20" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['device:list:add']"
        >新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          plain
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
          v-hasPermi="['device:list:remove']"
        >删除</el-button>
      </el-col>
    </el-row>

    <el-table v-loading="loading" :data="postList" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column label="型号编号" prop="id" min-width="10%"/>
      <el-table-column label="型号名称" prop="name" min-width="20%"/>
      <el-table-column label="屏幕尺寸" prop="size" min-width="40%"/>
      <el-table-column label="操作" align="center" width="150px">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['device:list:edit']"
          >修改</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['device:list:remove']"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.size" @pagination="getList"/>

    <el-dialog :title="title" :visible.sync="open" width="820px">
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-row>
          <el-col :span="24">
            <el-form-item label="型号编号" prop="id">
              <el-input v-model="form.id" disabled/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="40">
          <el-col :span="12">
            <el-form-item label="型号名称" prop="name">
              <el-input v-model="form.name" placeholder="设备型号，如：ST117"/>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="屏幕尺寸" prop="size">
              <el-input v-model="form.size" placeholder="屏幕尺寸，长x宽，如：2000x300"/>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { list, get, add, update, del} from "@/api/device/model";

export default {
  name: "Model",
  data() {
    return {
      loading: true,
      ids: [],
      single: true,
      multiple: true,
      showSearch: true,
      total: 0,
      postList: [],
      title: "",
      open: false,
      query: {
        name: undefined,
        page: 1,
        size: 10
      },
      form: {
        id: null,
        name: null,
        size: null
      },
      rules: {
        name: [
          { required: true, message: "型号名称不能为空", trigger: "change" }
        ],
        size: [
          { required: true, message: "屏幕尺寸不能为空", trigger: "change" }
        ]
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    getList() {
      this.loading = true;
      list(this.query).then(res => {
        this.postList = res.data.list;
        this.total = res.data.total;
        this.loading = false;
      });
    },
    cancel() {
      this.open = false;
      this.reset();
    },
    reset() {
      this.form = {
        id: undefined,
        name: undefined,
        size: undefined
      };
      this.resetForm("form");
    },
    handleQuery() {
      this.query.page = 1;
      this.getList();
    },
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids
      get(id).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "型号详情";
      });
    },
    submitForm: function() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.id !== undefined) {
            update(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            add(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "新增型号";
    },
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('确定删除编号为 ' + ids + ' 的型号吗？').then(function() {
        return del(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    }
  }
};
</script>

<style lang="scss" scoped>
.search-bar {
  ::v-deep .el-form-item--small.el-form-item {
    margin-right: 50px;
  }
}

.el-input.is-disabled ::v-deep .el-input__inner {
  //color: #5b5b5b;
}

.el-textarea.is-disabled ::v-deep .el-textarea__inner {
  //color: #5b5b5b;
}

</style>

